################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyRepo/v15/Browse.VC.opendb
/PluralSight_TensorFlowGettingStarted/TransferLearningWithTensorFlow
/PluralSight_TensorFlowGettingStarted/DebuggingAndMonitoring/tb_logs
/PluralSight_TensorFlowGettingStarted/ExtendingTensorFlowWithAdd_Ons/MNIST_data/train-labels-idx1-ubyte.gz
/PluralSight_TensorFlowGettingStarted/ExtendingTensorFlowWithAdd_Ons/MNIST_data/train-images-idx3-ubyte.gz
/PluralSight_TensorFlowGettingStarted/ExtendingTensorFlowWithAdd_Ons/MNIST_data/t10k-labels-idx1-ubyte.gz
/PluralSight_TensorFlowGettingStarted/ExtendingTensorFlowWithAdd_Ons/MNIST_data/t10k-images-idx3-ubyte.gz
/UnderstandingTheFoundationsOfTensorFlow/IntroducingComputationGraphs/m2_example2/events.out.tfevents.1587285816.ASSASSIN
/UnderstandingTheFoundationsOfTensorFlow/.vs/UnderstandingTheFoundationsOfTensorFlow/v15/.suo
/UnderstandingTheFoundationsOfTensorFlow/IntroducingComputationGraphs/m2_example4/events.out.tfevents.1587287095.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/IntroducingComputationGraphs/m2_example4/events.out.tfevents.1587287095.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/IntroducingComputationGraphs/m2_example2/events.out.tfevents.1587285816.ASSASSIN
