################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyRepo/v15/Browse.VC.opendb
/PluralSight_TensorFlowGettingStarted/TransferLearningWithTensorFlow
/PluralSight_TensorFlowGettingStarted/DebuggingAndMonitoring/tb_logs
