################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyRepo/v15/Browse.VC.opendb
/PluralSight_TensorFlowGettingStarted/TransferLearningWithTensorFlow
/PluralSight_TensorFlowGettingStarted/DebuggingAndMonitoring/tb_logs
/PluralSight_TensorFlowGettingStarted/ExtendingTensorFlowWithAdd_Ons/MNIST_data/train-labels-idx1-ubyte.gz
/PluralSight_TensorFlowGettingStarted/ExtendingTensorFlowWithAdd_Ons/MNIST_data/train-images-idx3-ubyte.gz
/PluralSight_TensorFlowGettingStarted/ExtendingTensorFlowWithAdd_Ons/MNIST_data/t10k-labels-idx1-ubyte.gz
/PluralSight_TensorFlowGettingStarted/ExtendingTensorFlowWithAdd_Ons/MNIST_data/t10k-images-idx3-ubyte.gz
/UnderstandingTheFoundationsOfTensorFlow/IntroducingComputationGraphs/m2_example2/events.out.tfevents.1587285816.ASSASSIN
/UnderstandingTheFoundationsOfTensorFlow/.vs/UnderstandingTheFoundationsOfTensorFlow/v15/.suo
/UnderstandingTheFoundationsOfTensorFlow/IntroducingComputationGraphs/m2_example4/events.out.tfevents.1587287095.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/IntroducingComputationGraphs/m2_example4/events.out.tfevents.1587287095.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/IntroducingComputationGraphs/m2_example2/events.out.tfevents.1587285816.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/DiggingDeeperIntoFundamentals/m3_example1/events.out.tfevents.1587294832.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/DiggingDeeperIntoFundamentals/m3_example1/events.out.tfevents.1587294586.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/DiggingDeeperIntoFundamentals/m3_example5/events.out.tfevents.1587300487.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/DiggingDeeperIntoFundamentals/m3_example5/events.out.tfevents.1587300276.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/WorkingWithImages/m4_example3/events.out.tfevents.1587319274.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/WorkingWithImages/m4_example3
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/WorkingWithImages/m4_example2/events.out.tfevents.1587314608.ASSASSIN
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/WorkingWithImages/m4_example2
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/WorkingWithImages/images/img5.jpg
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/WorkingWithImages/images/img4.jpg
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/WorkingWithImages/images/img3.jpg
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/WorkingWithImages/images/img2.jpg
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/SolvingBasicMathFunctions/mnist_data/train-labels-idx1-ubyte.gz
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/SolvingBasicMathFunctions/mnist_data/train-images-idx3-ubyte.gz
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/SolvingBasicMathFunctions/mnist_data/t10k-labels-idx1-ubyte.gz
/PluralSight_UnderstandingTheFoundationsOfTensorFlow/SolvingBasicMathFunctions/mnist_data/t10k-images-idx3-ubyte.gz
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/__pycache__/returns_data.cpython-36.pyc
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/__pycache__
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/linearregression_demo3/events.out.tfevents.1587645335.ASSASSIN
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/linearregression_demo3
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/linearregression_demo2/events.out.tfevents.1587638845.ASSASSIN
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/linearregression_demo2
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/linearregression_demo1/events.out.tfevents.1587637564.ASSASSIN
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/linearregression_demo1/events.out.tfevents.1587637448.ASSASSIN
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/linearregression_demo1/events.out.tfevents.1587637337.ASSASSIN
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/linearregression_demo1/events.out.tfevents.1587635270.ASSASSIN
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/linearregression_demo1
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/data/XOM.csv
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/data/USO.csv
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/data/SP_500.csv
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/data/NASDAQ.csv
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLinearRegression Models_TF/data/GOOG.csv
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLogisticRegressionModels_TF/__pycache__/returns_data.cpython-36.pyc
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLogisticRegressionModels_TF/__pycache__
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLogisticRegressionModels_TF/data/XOM.csv
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLogisticRegressionModels_TF/data/USO.csv
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLogisticRegressionModels_TF/data/SP_500.csv
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLogisticRegressionModels_TF/data/NASDAQ.csv
/PS_BuildingRegressionModelsUsingTensorFlow/BuildingLogisticRegressionModels_TF/data/GOOG.csv
/PS_BuildingRegressionModelsUsingTensorFlow/GeneralizedLinearModels_Estimators/__pycache__/returns_data.cpython-36.pyc
/PS_BuildingRegressionModelsUsingTensorFlow/GeneralizedLinearModels_Estimators/__pycache__
/PS_BuildingRegressionModelsUsingTensorFlow/GeneralizedLinearModels_Estimators/data/XOM.csv
/PS_BuildingRegressionModelsUsingTensorFlow/GeneralizedLinearModels_Estimators/data/USO.csv
/PS_BuildingRegressionModelsUsingTensorFlow/GeneralizedLinearModels_Estimators/data/SP_500.csv
/PS_BuildingRegressionModelsUsingTensorFlow/GeneralizedLinearModels_Estimators/data/NASDAQ.csv
/PS_BuildingRegressionModelsUsingTensorFlow/GeneralizedLinearModels_Estimators/data/GOOG.csv
/Udemy/MachineLearning_A_Z/AssociationRuleLearning/Apriori/__pycache__/apyori.cpython-36.pyc
/Udemy/MachineLearning_A_Z/DeepLearning/ConvolutionalNeuralNetworks/dataset
*.sqlite-journal
/Udemy/DeepLearningA_Z/BuildingCNN/dataset
/Udemy/DeepLearningA_Z/BuildingBoltzmannMachines/ml-100k
/Udemy/DeepLearningA_Z/BuildingBoltzmannMachines/ml-1m
